<ion-header [ngStyle]="{'background-image': 'url(' + headerBg + ')' }">
    <ion-fab top left>
        <button ion-fab mini (click)="this.navCtrl.pop();" color="danger"><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-fab>
    <ion-fab top right>
        <button ion-fab mini (click)="showCutPage()" color="green"><ion-icon name="cut"></ion-icon></button>
    </ion-fab>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="tabs">
            <ion-segment-button value="detail">
                <span class="right-border"></span>
                <ion-icon name="paper"></ion-icon>
                جزییات طاقه
            </ion-segment-button>
            <ion-segment-button value="history" (click)="getHistory()">
                <span class="right-border"></span>
                <ion-icon name="ios-person"></ion-icon>
                سوابق طاقه
            </ion-segment-button>
            <ion-segment-button value="same" (click)="getSame()">
                <ion-icon name="bookmark"></ion-icon>
                طاقه مشابه
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="tabs">
        <ion-grid *ngSwitchCase="'detail'" padding>
            <ion-row>
                <ion-col bold>
                    سريال طاقه
                </ion-col>
                <ion-col col-7>
                    {{item.serial}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    شماره بچ کالا
                </ion-col>
                <ion-col col-7>
                    {{item.batch}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    عرض طاقه
                </ion-col>
                <ion-col col-7>
                    {{item.width}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    کد کالا نوسا
                </ion-col>
                <ion-col col-7>
                    {{item.code}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    کد اختصاصی
                </ion-col>
                <ion-col col-7>
                    {{item.barcode}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    کد رنگ طاقه
                </ion-col>
                <ion-col col-7>
                    {{item.color}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    مشحصه کالا
                </ion-col>
                <ion-col col-7>
                    {{item.characteristic}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col bold>
                    متراژ اول دوره
                </ion-col>
                <ion-col col-7>
                    {{item.value}}
                </ion-col>
            </ion-row>
            <!--<ion-row>
                <ion-col bold>
                    متراژ فعلی طاقه 
                </ion-col>
                <ion-col col-7>
                    {{item.remaining}}
                </ion-col>
            </ion-row>-->
            <ion-row>
                <ion-col>
                    <div class="customButton" (click)="showCutPage()">
                        <span>
                    متراژ فعلی طاقه 
                    </span>
                        <span>
                    {{item.remaining}}
                    </span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list *ngSwitchCase="'history'">
            <ion-row class="header">
                <ion-col col-3>
                    نام کاربر
                </ion-col>
                <ion-col col-5>
                    تاریخ ثبت برش
                </ion-col>
                <ion-col col-2>
                    برش
                </ion-col>
                <ion-col col-2>
                    مانده
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let cut of history">
                <ion-col col-3>
                    {{cut.createdUser.username}}
                </ion-col>
                <ion-col col-5 text-center>
                    {{cut.created}}
                </ion-col>
                <ion-col col-2 text-center text-small>
                    {{cut.length}}
                </ion-col>
                <ion-col col-2 text-center text-small>
                    {{cut.remaining}}
                </ion-col>
            </ion-row>
        </ion-list>
        <ion-list *ngSwitchCase="'same'">
            <ion-row class="header">
                <ion-col col-4>
                    سريال طاقه
                </ion-col>
                <ion-col col-6>
                    انبار
                </ion-col>
                <ion-col col-2>
                    متراژ
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let s of same">
                <ion-col col-4 text-center>
                    {{s.serial}}
                </ion-col>
                <ion-col col-6 text-center>
                    {{s.warehouseLocation}}
                </ion-col>
                <ion-col col-2 text-center text-small>
                    {{s.remaining}}
                </ion-col>
            </ion-row>
        </ion-list>


    </div>
</ion-content>