page-login-page {
    ion-content {
        background: url('../assets/images/loginBg.png') no-repeat center fixed;
        background-size: cover;
        height: 100%;
    }
    ion-item {
        background-color: transparent !important;
    }
    .box {
        background-color: rgba(0, 0, 0, 0.2) !important;
        box-shadow: 0px 0px 31px 10px rgba(0, 0, 0, 0.2) inset;
        padding: 15px 10px;
    }
    ion-label ion-icon {
        margin-right: 10px;
    }
    ion-input {
        color: #FFF;
        text-align: right;
    }
    .no-border {
        &,
        .item-inner {
            border: 0 !important;
            box-shadow: none !important;
        }
    }
    .username {
        border-bottom: 1px solid silver !important;
    }
    button {
        background-color: rgba(0, 0, 0, 0.4) !important;
        width: 80%;
        padding: 25px;
    }
    ion-grid {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        form {
            width: 100%;
        }
        .logo img {
            width: 40%;
            max-width: 570px;
            min-width: 150px;
            margin: auto;
            margin-top: 35px;
        }
    }
    .fields {
        margin-top: -50px;
    }
}