// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$font-family-base:"javad";
$font-family-md-base:"yekan";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( silver1:#C0C0C0, white: #FFF, primary: #488aff, secondary: #32db64, green: #32db64, danger: #AF1A44, light: #f4f4f4, dark: #222);
$text-input-placeholder-color: #fff;
$text-color: #525252;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
$modal-inset-min-width: 100px;
$modal-inset-min-height-small: 100px;
$modal-inset-width: 80%;
$modal-inset-height-small:80%;
// $modal-inset-max-width: 200px;
// $modal-inset-min-height-large: 100px;
// $modal-inset-width: 100px;
// $modal-inset-height-small: 100px;
// $modal-inset-height-large: 100px;
//
$segment-button-md-height: 6rem;
$segment-button-md-border-color-activated: #FEDE3E;
$segment-button-md-opacity: 1;
$segment-button-ios-opacity: 1;
$toolbar-md-padding:0px;
$toolbar-ios-padding:0px;
$toolbar-wp-padding:0px;
$segment-button-md-border-bottom-width:5px;
$segment-button-md-font-size:1.5rem;
// $segment-button-text-color: #222;
$button-md-border-radius: 0;
$img-placeholder-background: transparent;